body {
	font-family: 'Montserrat';
	line-height: calc(20 / 16);
	color: #25282b;
	background: #f8fcff;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

/* ========================================= */

.header {
	line-height: 150%;
}

.header-inner {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 15px;
	min-height: 108px;
	align-content: center;
	align-items: center;
}

.header__logo {
	max-width: 54px;
}

.nav__list {
	display: flex;
	gap: 10px 30px;
	flex-wrap: wrap;
}

.socials {
	display: flex;
	gap: 10px 30px;
	flex-wrap: wrap;
	justify-self: flex-end;
}

/* ========================================= */

.main {
}
.hero {
	padding: 120px 0;
	background: #4a4545;
	color: #f8fcff;
	line-height: 150%;
	display: flex;
	justify-content: center;
}
.hero__title {
	font-size: 52px;
	font-weight: 600;
}
.hero__list {
	display: grid;
	justify-content: center;
	gap: 15px;
}
.hero__item {
	font-size: 24px;
}
.button {
	font-weight: 500;
	display: flex;
	justify-content: center;
	color: #1d6fb6;
	background: #d0dce7;
	padding: 18px 30px;
	border-radius: 100px;
}
.hero__video {
}
