body {
    font-family: sans-serif;
    background: #343334;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 80px;
    color: rgb(255, 255, 255);
    margin: 50px;
    position: relative;
}

.title::before, 
.title::after {
        content: '';
        display: block;
        height: 100px;
        width: 100px;
        background: brown;
        position: absolute;
        top: -5px;
        border: 5px solid white;
}

.title::before {
    left: -150px;
    border-radius: 50%;
}

.title::after {
    right: -150px;
    border-radius: 50%;
}
